name: Android CI

on:
  push:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [29]
        target: [default]
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      #- name: Build with Gradle
      #  run: ./gradlew build
      - name: Run Espresso Tests
        uses: ReactiveCircus/android-emulator-runner@v2.27.0
        with:
          api-level: 29
          target: default
          arch: x86_64
          profile: Nexus 6
          script: ./gradlew connectDebugAndroidTest -Pcucumber -Ptags="@e2e"
